table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5px;
}

th, td {
  border: 1px solid #ccc;
  padding: 2px;
  text-align: left;
  word-wrap: break-word;
  font-size: 8pt; /* Base font size, can be overridden by inline options */
}

h1, h2 {
  color: #333;
  margin-bottom: 5px;
  font-size: 14pt;
}

h2 {
  font-size: 12pt;
}